p.nodetitle {

    position: absolute;
    top:0;
    left:0;
    width: 100px;
}

div.nodebuttons {
    vertical-align: bottom;
    position: relative;
    margin: 20;
    padding: 20;
}

a.nodebut.green {

    background: rbg(101, 189, 56) ;
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.20, rgb(101, 189, 56)),
        color-stop(0.50, rgb(195,195,195))
    );

}

a.nodebut.down {
    background: rgb(0,0,0);
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.20, rgb(0,0,0)),
        color-stop(0.50, rgb(195,195,195))
    );
}

a.nodebut.yellow {
    background: rgb(189, 162,56);
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.20, rgb(189, 162,56)),
        color-stop(0.50, rgb(195,195,195))
    );
}

a.nodebut.orange {

    background: rgb(189, 98, 56);
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.20, rgb(189,98,56)),
        color-stop(0.50, rgb(195,195,195))
    );
}

a.nodebut.red {

    background: rgb(189,56,56);
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.20, rgb(189,56,56)),
        color-stop(0.50, rgb(195,195,195))
    );
}

a.nodebut {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: #000000;
    text-shadow: #000000 0px 0px 1px;
    position: relative;
    vertical-align: bottom;

    margin: 5px;
    padding: 10px;
    /*text-align: center;*/

    display:inline-block;
    width:60px;
    height:60px;

    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.7);

    background: rgb(59,128,32);
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.20, rgb(59,128,32)),
        color-stop(0.50, rgb(195,195,195))
    );
}

a.nodebut:hover {border: 1px dotted rgba(0,0,0,0.7);}
