p.nodetitle {

    position: absolute;
    top:0;
    left:0;
    width: 100px;
}

div.nodebuttons {
    vertical-align: bottom;
    position: relative;
    margin: 20;
    padding: 20;
}

a.nodebut {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: #000000;

    position: relative;
    vertical-align: bottom;

    margin: 5px;
    padding: 10px;
    /*text-align: center;*/

    display:inline-block;
    width:60px;
    height:60px;

    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.7);

    background-image: linear-gradient(bottom, rgb(59,128,32) 37%, rgb(11,38,38) 69%);
    background-image: -o-linear-gradient(bottom, rgb(59,128,32) 37%, rgb(11,38,38) 69%);
    background-image: -moz-linear-gradient(bottom, rgb(59,128,32) 37%, rgb(11,38,38) 69%);
    background-image: -webkit-linear-gradient(bottom, rgb(59,128,32) 37%, rgb(11,38,38) 69%);
    background-image: -ms-linear-gradient(bottom, rgb(59,128,32) 37%, rgb(11,38,38) 69%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.20, rgb(59,128,32)),
        color-stop(0.50, rgb(195,195,195))
    );
}

a.nodebut:hover {border: 1px dotted rgba(0,0,0,0.7);}
