.verticalBarGraph {
    border-bottom: 1px solid #FFF;
    height: 100px;
    margin: 0;
    padding: 0;
    position: relative;
    width: 40px;
    }
    
.verticalBarGraph li {
/*    border: 1px solid #555;*/
    border-bottom: none;
    bottom: 0;
    list-style:none;
    margin: 0;
    padding: 0;
    position: absolute;
    text-align: center;
    width: 10px;
    }

/*.verticalBarGraph li:hover { font-weight:bold; }*/
.verticalBarGraph li.p1 { background-color:#666666 }    
.verticalBarGraph li.p2 { background-color:#888888 }    
.verticalBarGraph li.p2 { background-color:#888888 }    
.verticalBarGraph li:hover { background-color:#AAAAAA }
/*
.metric {

}*/
