<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Openstack Monitoring</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet"> 
    <link href="../static/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="../static/css/flaskmon.css" rel="stylesheet">
    <link href="../static/css/animbut.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>

    <script type=text/javascript>
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>

    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
    </style>

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="../static/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../static/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../static/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../static/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../static/ico/apple-touch-icon-57-precomposed.png">
  </head>

  <body>
    <!-- list of nodes -->
    <div class="container-fluid">
      <div class="span12">
      <h1>Nodes</h1>
        <div class="nodebuttons">
        {% for node in nodes %}
          <a href="#" class="nodebut {{ nodes[node]['s']['load']}}" rel="popover"  data-content="test" title="{{ node }}" >{{ node }}</a>
        {% endfor %}  
        </div><!--/span-->
      </div><!--/row-->

      <!-- METRIC DISPLAY PANEL -->
      <div class="span12 metricdisplay", id="metricdisplay">
        <h1>Float Metrics last 5 minutes</h1>
      </div>
    </div><!--/.fluid-container-->


    <footer>
      <p>&copy; NCI 2012</p>
    </footer>


    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/flaskmon.js"></script>


  </body>
</html>
